{% extends "@MyShopAdmin/layout.html.twig" %}

{% block body %}
<a href="{{ path("my_shop_admin.user_add") }}">Add user</a>

        {% for message in app.session.flashBag.get("success") %}
        <div>
            {{ message }}
        </div>
        {% endfor %}
{% for user in userList %}
 <ul>
     <li>{{ user.getUsername() }}</li>
     <a href="{{ path("my_shop_admin.user_edit", {id:user.id}) }}">Edit user</a><br>
     <a href="{{ path("my_shop_admin.user_delete", {id:user.id}) }}">Delete user</a><br>
 </ul>



{% endfor %}

{% endblock %}

