{% extends "@MyShopDefault/layout.html.twig" %}

{% block body %}
    <h2>News list</h2>
    <ul>
    {% for news in newsList %}
        <li>
            {{ news.getDatePublished().format("d.m.Y H:i:s") }}
            <b>{{ news.getTitle() }} </b><br>
            {{ news.getShortDescription() }}
            <br />
            <a href="{{ path("my_shop.full_news", {id:news.getId()}) }}">Full news</a>
            <a href="{{ path("my_shop_admin.news_delete", {id:news.getId()}) }}">Удалить</a>
            <a href="{{ path("my_shop_admin.news_edit", {id:news.getId()}) }}">Редактировать</a>
        </li>
    {% else %}
        No products!
    {% endfor %}
    </ul>

{% endblock %}