{% extends "@MyShopDefault/layout.html.twig" %}
{% block body %}
<!-- checkout -->
<div class="checkout">
    <div class="container">
        <h2>Your shopping cart contains: <span>{{ order.products| length }} Products</span></h2>
        <div class="checkout-right">
            <table class="timetable_sub">
                <thead>
                <tr>
                    {#<th>SL No.</th>#}

                    <th>Product</th>
                    <th>Count</th>


                    <th>Price</th>
                    <th>Remove</th>
                </tr>
                </thead>
                {% if order.products|length > 0 %}
                {% for product in order.products %}
                <tr class="rem1">
                    {#<td class="invert">1</td>#}

                    <td class="invert-image"><a href="single.html">{{ product.model }}</a></td>

                    <td class="invert">
                        <div class="quantity">


                                <form method="post" action="{{ path('myshop.recalculate_price') }}">
                                <input name="prod_{{ product.id }}"  style="width:40px" type="text" value="{{ product.count }}" />
                                    <input type="submit" value="Total" />

                                </form>

                        </div>
                    </td>


                    <td class="invert">{{ product.price }}</td>

                    <td class="invert">
                        <div class="rem">
                           <a href="{{  path("myshop.remove_order_product", {id:product.id}) }}">X</a>
                        </div>
                        {#<script>$(document).ready(function(c) {#}
                                {#$('.close1').on('click', function(c){#}
                                    {#$('.rem1').fadeOut('slow', function(c){#}
                                        {#$('.rem1').remove();#}
                                    {#});#}
                                {#});#}
                            {#});#}
                        {#</script>#}
                    </td>
                </tr>
                {% endfor %}
                {% endif %}
                <!--quantity-->
                <script>
                    $('.value-plus').on('click', function(){
                        var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10)+1;
                        divUpd.text(newVal);
                    });

                    $('.value-minus').on('click', function(){
                        var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10)-1;
                        if(newVal>=1) divUpd.text(newVal);
                    });
                </script>
                <!--quantity-->
            </table>
        </div>
        <div class="checkout-left">





                    <h4>Total <i>-</i> <span>{{  order.getAllProductPrice() }}</span></h4>

            </div>

            <div class="checkout-right-basket">
                <a href="{{ path('myshop.confirm_order') }}"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Оформить заказ</a>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //checkout -->

    {#<div>#}
        {#<b>Корзина товаров</b><br />#}

        {#{% if order.products|length > 0 %}#}
            {#<ul>#}
                {#{% for product in order.products %}#}
                    {#{% set sum = product.price * product.count %}#}
                    {#<li><b>{{ product.model }}</b> {{ product.price }}x{{ product.count }}={{ sum }}</li>#}
                {#{% endfor %}#}
            {#</ul>#}

            {#<a href="{{ path('myshop.confirm_order') }}">Оформить заказ</a>#}
        {#{% endif %}#}
    {#</div>#}

{% endblock %}
