<html>
<head>
    <link rel="stylesheet" href="{{ asset("bundles/myshopdefault/main.css") }}" />
</head>
<body>
<table border="1" style="width: 100%">
    <tr>
        <td valign="top" style="width: 400px">
            <ul>
                <li><a href="{{ path("my_shop_admin.news_list") }}">Новости</a></li>
                <li><a href="{{ path("my_shop_admin.product_list") }}">Товары</a></li>
                <li><a href="{{ path("my_shop_admin.category_list") }}">Категории товаров</a></li>
                <li><a href="{{ path("my_shop_admin.news_category_list") }}">Категории новостей</a></li>
            </ul>
        </td>
        <td valign="top">

{% for mes in app.session.flashBag.get('success') %}
{{ mes }}
{% endfor %}



            {% block body %}
            {% endblock %}
        </td>
    </tr>
</table>
</body>
</html>



