{% extends "@MyShopAdmin/layout.html.twig" %}

{% block body %}

{% if parentCategory is defined %}
<h2> {{ parentCategory.getName()}} </h2>
<a href="{{ path("my_shop_admin.category_add",{idParent:parentCategory.getId()}) }}">Добавить подкатегорию</a>
{%  else %}
<a href="{{ path("my_shop_admin.category_add") }}">Добавить категорию</a>
{% endif %}


<ul>
{% for cat in categoryList %}
    <li><a href="{{ path("my_shop_admin.category_list", {idParentCategory:cat.id}) }}">{{ cat.name }}</a>
    <a href="{{ path("my_shop_admin.category_edit", {id:cat.id}) }}">Edit</a>
    <a href="{{ path("my_shop_admin.category_delete", {id:cat.id}) }}">Delete</a>
   
   
{% endfor %}
</ul>

{% endblock %}