{% extends "@MyShopAdmin/layout.html.twig" %}

{% block head_js %}
    <script type="application/javascript" src="{{ asset('bundles/myshopadmin/jquery-3.2.0.min.js') }}"></script>
    <script type="application/javascript">

        function del(id) {
            var url = Routing.generate('my_shop_admin.product_delete_ajax', {"id":id } );
            $.get(url, function (data) {
                alert(data);
            });
        }
    </script>
    {% endblock %}
{% block body %}
<a href="{{ path("my_shop_admin.product_add") }}">Добавить товар</a>
    <table border="1">
        <tr>
            <td>Модель</td>
            <td>Категория</td>
            <td>Цена</td>
        </tr>
        {% for message in app.session.flashBag.get("success") %}
        <div>
            {{ message }}
        </div>
        {% endfor %}
{% for product in productList %}

        <tr>
            <td><p>{{ product.model }}</p></td>
            <td> <p> {{product.description}} </p></td>
            <td> <p> {{product.price}}</p></td>

        <td>
            <a href="#" onclick="del( {{ product.id }})">Удалить ajax</a><br/>
            <a href="{{ path("my_shop_admin.product_delete", {id:product.id}) }}">Удалить</a><br/>
            <a href="{{ path("my_shop_admin.product_edit", {id:product.id}) }}">Редактирование</a><br>
            <a href="{{ path("my_shop_admin.product_photo_list", {idProduct:product.getId()}) }}">Управление картинками</a>
        </td>
        </tr>

{% endfor %}
    </table>
    {{ knp_pagination_render(productList) }}
{% endblock %}

